@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
	background-color: #fff;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

.breadcrumbs{
	list-style: none;
	border-bottom: 1px #ccc solid;
	height:30px;
}
.breadcrumbs li{
	float:left;
	padding-right:10px;
}

.top{
	max-width: 100%;
}

h1{
	color: #C03728;
}

.bottom{
	max-width: 100%;
	height:100px;
	border-top: 1px solid #ccc;
	margin-top: 50px;
	padding-top: 30px
}

.plugin_picture img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#mc_embed_signup {
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 40px;

}

.post-content img {
	width: 100%;
}

a {
	color: #38b7ea;
	text-decoration: none;
}
