<footer class="site-footer">

  <p style="text-align:center; background-color:#222; padding:20px; color:#777">
    This page is generated from
    <a href="https://gitlab.com/vegoa/vegoa.gitlab.io/blob/master/{{page.path}}{{post.path}}">
        a public file on GitLab.com
    </a>
    − merge requests with improvements are
    <a href="https://gitlab.com/vegoa/vegoa.gitlab.io/blob/master/CONTRIBUTING.md">
      very welcome
    </a>.
    <img src="/img/by-sa.svg" alt="Creative Commons License"/>
  </p>

</footer>
