{% if page.url contains "/fr/" %}
<div class="vegoa">
  <a href="/fr/">Le Projet Vegoa</a>
  <ul class="sub-links">
    <li {% if page.url == "/fr/economie/" %}class="active"{% endif %}>
      <a href="/fr/economie/">Économie</a>
    </li>
    <li {% if page.url == "/fr/organisations/" %}class="active"{% endif %}>
      <a href="/fr/organisations/">Organisations</a>
    </li>
    <li {% if page.url == "/fr/manifeste/" %}class="active"{% endif %}>
      <a href="/fr/manifeste/">Manifeste</a>
    </li>
  </ul>
</div>
<div class="rejoindre">
  <a href="/fr/rejoindre/">Rejoindre</a>
  <ul class="sub-links">
    <li {% if page.url == "/fr/rejoindre/vegan-hills/" %}class="active"{% endif %}>
      <a href="/fr/rejoindre/vegan-hills/">Vegan Hills</a>
    </li>
    <li {% if page.url == "/fr/rejoindre/contact/" %}class="active"{% endif %}>
      <a href="/fr/rejoindre/contact/">Contact</a>
    </li>
  </ul>
</div>
{% else %}
<div class="vegoa">
  <a href="/en/">The Vegoa Project</a>
  <ul class="sub-links">
    <li {% if page.url == "/en/economy/" %}class="active"{% endif %}>
      <a href="/en/economy/">Economy</a>
    </li>
    <li {% if page.url == "/en/organisations/" %}class="active"{% endif %}>
      <a href="/en/organisations/">Organisations</a>
    </li>
    <li {% if page.url == "/en/manifest/" %}class="active"{% endif %}>
      <a href="/en/manifest/">Manifest</a>
    </li>
  </ul>
</div>
<div class="joining">
  <a href="/en/joining/">Joining</a>
  <ul class="sub-links">
    <li {% if page.url == "/en/joining/vegan-hills/" %}class="active"{% endif %}>
      <a href="/en/joining/vegan-hills/">Vegan Hills</a>
    </li>
    <li {% if page.url == "/en/joining/contact/" %}class="active"{% endif %}>
      <a href="/en/joining/contact/">Contact</a>
    </li>
  </ul>
</div>
{% endif %}

<div class="blogs">
  <a href="/en/blogs/">Blogs</a>
  <ul class="sub-links">
    {% for category in site.categories %}
      {% if category[0] != "news" %}
      <li {% if page.url == "/en/blogs/{{ category[0] }}/" %}class="active"{% endif %}>
        <a href="/en/blogs/{{ category[0] }}/">{{ category[0] }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="news">
  <a href="/en/news/">News</a>
  <ul class="sub-links">
    {% for post in site.posts %}
      {% if post.category == "news" %}
      <li {% if page.url == "{{ post.url }}/" %}class="active"{% endif %}>
        <a href="{{ post.url }}/">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="community">
  <a href="https://vegoans.org/">Vegoans Community</a>
</div>
