<aside class="sidebar-left-collapse">
  {% if page.url contains "/fr/" %}
    <a href="/fr/">
      <img alt="Vegan community" height="120" src="/img/logo.png">
    </a>
  {% else %}
    <a href="/en/">
      <img alt="Vegan community" height="120" src="/img/logo.png">
    </a>
  {% endif %}

  <div style="text-align:center; color:white">
    <a href="/en/" style="color: white; text-decoration: none;">
      {% if page.url contains "/fr/" %}
        EN
      {% else %}
        <strong>EN</strong>
      {% endif %}
    </a>
    <span>|</span>
    <a href="/fr/" style="color: white; text-decoration: none;">
      {% if page.url contains "/fr/" %}
        <strong>FR</strong>
      {% else %}
        FR
      {% endif %}
    </a>
  </div>

  <div class="sidebar-links">

    {% include menu.html %}

  </div>
</aside>
