<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include sidebar.html %}

  <div class="main-content">
    {{ content }}

    {% include fb.html %}
    {% include footer.html %}
  </div>

  {% include js.html %}
  {% include analytics.html %}
</body>
</html>
